
<link rel="stylesheet" href="/static/css/add.css">
<script src="/static/scripts/add.js"></script>


{% extends  'base.html' %}

{% block content%}
    <div class="add_form">
        <form action="" method="POST">
            {{ form.hidden_tag() }}

            {{form.title.label}}
            {{form.title(class='title')}}

            {{form.body.label}}
            {{form.body(class='body')}}

            <div class="footer_add">
                {{form.save(class='add_form_item')}}
            
                <span class="current_count_of_words">0</span>
                <span class="limit_of_words">/250</span>
            </div>
        </form>
    </div>
{% endblock %}