<link rel="stylesheet" href="/static/css/my_note.css">

{%extends 'base.html'%}

{% block content %}
<div class="wrapper">
    <form action="", method="POST", class="note_scope">
        <h1>{{form.title(value=note[2], class='scope_title')}}</h1>
        {{form.body(class="scope_body")}}
        <p class="scope_date">{{note[4]}}</p>
        <div class="scope_buttons">
            {{form.save(class='button')}}
            {{form.delete(class='button')}}
        </div>
    </form>
</div>
{% endblock %}
