@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;700&family=Roboto:wght@100;300;700;900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
.wrapper{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_block{
    display: flex;
    flex-direction: column;
    width: 250px;
    align-items: center;
}
.login_block form{
    display: flex;
    flex-direction: column;
    font-size: medium;
    font-weight: lighter;
}

.login_block h1{
    font-size:large;
}

.login_block .form_item{
    margin-bottom: 10px;
    height: 25px;
    width: 150px;
    border-radius: 5px;
    border: 1px solid rgb(224, 224, 224);

    padding-left: 5px;
}


.login_block .button{
    height: 25px;
    width: 150px;
    border-radius: 5px;
    border: 1px solid rgb(224, 224, 224);
    cursor: pointer;

    background-color: rgb(252, 252, 252);
}

.login_block .button:hover{
    background-color: rgb(237, 237, 237);
}

.login_block .button:active{
    background-color: rgb(224, 224, 224);
}

.remember{
    display: flex;
}